.status-bar {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background-color: #f8f9fa;
  border-radius: 5px;
  margin-bottom: 20px;
}
.direction,
.special-action {
  display: flex;
  align-items: center;
}
.bi {
  margin-right: 5px;
}
